body {
    margin: 0;
    height: 100vh;

    background-image: linear-gradient(135deg,
            hsl(0deg 0% 0%) 35%,
            hsl(0deg 100% 20%) 73%,
            hsl(0deg 100% 22%) 85%,
            hsl(0deg 100% 25%) 92%,
            hsl(0deg 100% 27%) 96%,
            hsl(0deg 100% 30%) 99%,
            hsl(0deg 100% 33%) 100%,
            hsl(0deg 100% 35%) 100%,
            hsl(0deg 100% 38%) 100%,
            hsl(0deg 100% 41%) 100%,
            hsl(0deg 100% 44%) 100%,
            hsl(0deg 100% 47%) 100%,
            hsl(0deg 100% 50%) 100%);

    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    color: white;
}

/* TESTO */
.text-container {
    width: 70%;
    max-width: 700px;
    text-align: center;
}

#text {
    font-size: 1.3em;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(20px);
    transition: 2s ease;
    white-space: pre-line;
}

/* BACK */
.back {
    position: absolute;
    bottom: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.back:hover {
    opacity: 1;
}

